<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>



<p>ユーザ一覧</p>
<% @user.each do |e|%>
    <p><%= e.uid %>
       <%= link_to '削除', "/users/#{e.id}" , method: :delete %>
    </p>
<% end %>

